/* || WEBSITE GENERIC DESIGN */
@font-face {
    font-family: 'Kievit';
    src: url('/static/fonts/KievitOT-Regular.eot');
    src: url('/static/fonts/KievitOT-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/KievitOT-Regular.woff2') format('woff2'),
        url('/static/fonts/KievitOT-Regular.woff') format('woff'),
        url('/static/fonts/KievitOT-Regular.ttf') format('truetype'),
        url('/static/fonts/KievitOT-Regular.svg#KievitOT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    
    --theme-sub2:rgb(221,79,5);
    --theme-sub: rgb(0,80,81);
    --theme-back: white;

    --default-font-size: 25px;
    --default-font-color: black;
    --default-fonts: 'Kievit', Tahoma;
}

ul {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--theme-back);
    font-family: var(--default-fonts);
    color: var(--default-font-color);
    font-size: var(--default-font-size);
}

main {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    text-align: center;
    opacity: 80%;
}

header {
    padding: 50px;
    height: 12vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: 0px solid green;
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.84); 
    box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.84); 
}

a {
    color: var(--theme-sub);
    text-decoration: none;
}

a:hover {
    filter: brightness(0.8);
}

a:active {
    filter: brightness(0.6);
}

.icon {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.orange-button {
    font-size: var(--default-font-size) !important;
    background-color: var(--theme-sub2);
    padding:10px;
    color:white;
}

.orange-button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.orange-button:active {
    filter: brightness(0.8);
}

.topnav {
    background-color: var(--theme-sub);
    display:block;
    position: "sticky";
    max-width: 100vw;
    height: 6vh;
    overflow: hidden;
}

.topnav.active {
    background-color: rgb(240,240,240);
    height: 12vh;
}

.topnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.topnav ul li {
    display:flex;
    justify-content: center;
}

.topnav ul li a {
    cursor: pointer;
    backdrop-filter: brightness(0.9);
    padding: 20px 40px;
    font-size: 18px !important;
    text-decoration: none;
    color: white;
}

.topnav ul li a:hover {
    color: white;
    backdrop-filter: brightness(0.8);
}

.topnav ul li a:active {
    color: white;
}

.push-right {
    margin-left:auto;
}

.align-icon-to-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sidebyside {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.disableSelect, .orange-button {
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;            
  }

/* || INDEX HTML */
.main-container-index {
    height: 62vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.working-space {
    width:60%;
}

.window-div {
    width:60%;
    text-align: center;
    background-color: var(--theme-back);
    border: 0px solid green;  
    border-radius: 5px;
    padding: 80px 50px;
    font-size: calc(var(--default-font-size) + 10px);
    position: relative;

    -webkit-box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.84); 
    box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.84); 
}

.submain {
    margin-top: 40px;
}

.sidebar {
    width: 40%;
    text-align:left;
}

.sidebar-item {
    margin-bottom: 10px;
}

.file-buttons-container {
    margin:30px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.h1-index {
    font-size: calc(var(--default-font-size) + 45px);
    color:var(--theme-sub2);
}

.header-desc {
    font-size: calc(var(--default-font-size) + 5px);;
}

#logo {
    margin: 10px 20px;
    height: 95px;
}

.choose-popup {
    display: none;
    flex-direction: column-reverse;
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    background-color: white;
}

.choose-list {
    background-color: lightgray;
    height: 100%;
    margin: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.choose-list-item {
    position: relative;
    background-color: var(--theme-sub);
    color: white;
    margin-bottom: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
}

.choose-list-item:hover {
    filter: brightness(0.8);
}

.choose-list-item-delete {
    position: absolute;
    right: 10px;
    color: red;
    cursor: pointer;
}

.popup-button {
    align-self: flex-end;
    margin: 3%;
}

@media only screen and (orientation:portrait) {
    #sidebar {
        display:none;    
    }
    .file-buttons-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

/* || RESULT HTML */
.button-top-right {
    height: 4%;
    margin: 40px 30px 50px;
    display:flex;
    justify-content: flex-end;
}

#main-container-result {
    padding: 0 60px 2.5rem 60px;
}

.tables-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.table-title {
    align-self: center;
}

.table-div {
    width: 100%;
    overflow: scroll;
    background-color: white;
    color: black;
    margin-bottom: 100px;

    border: 0px solid green;  
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.84); 
    box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.84); 

}

td:not(td:first-child) {
    text-align: right;
}

.table_style {
    font-size: calc(var(--default-font-size) +  5px);
}

.graph {
    width: 50%;
}

.graphs-container {
    display: flex;
    flex-wrap: wrap;
}

/* || FORMAT */
.format table, th, thead, tbody, tr, td {
    border:3px solid black; 
    border-collapse: collapse; 
    text-align:left;
}
.format td, th {
    padding: 10px;
}
.format th {
    text-align:center;
}

.format {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
    justify-content: center;
    align-items: center;
}

/* || CREATE */
.create-column-section {
    flex: 1;
    min-height: 94vh;
    text-align: center;
}

.create-choose-list {
    padding: 0px 30px 30px 30px;
}

.create-choose-list-item {
    display: block;
    margin-bottom: 1%;
    background-color: var(--theme-sub);
    color: white;
    cursor: pointer;
}

#preview {
    font-size: 15px;
}

.inputs-div {
    display: flex;
    padding-bottom: 2.5rem;
}

.required::before {
    content:"*";
}

.entries {
    text-align: left;
    padding: 0px 30px 30px 30px;
    display:flex;
    flex-direction: column;
}

.create-form-item {
    margin-bottom: 20px;
}

input.create-form-item {
    width: 100%;
}

.create-subtitles {
    margin: 20px;
}

.preview-entry {
    position: relative;
}

.preview-line-delete {
    position: absolute;
    right: 10px;
    color: red;
    cursor: pointer;
}