<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create CSV</title>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png' ) }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{url_for('static', filename='create.js')}}" defer></script>
        <script src="{{url_for('static', filename='navbar.js')}}" defer></script>
    </head>
    <body>
        <main>
            <nav class="disableSelect topnav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/result">Result</a></li>
                    <li><a href="/create">Create</a></li>
                    <li id="plus-font" class="push-right"><a>+font</a></li>
                    <li id="minus-font"><a>-font</a></li>
                </ul>   
            </nav>
            <div class="inputs-div">
                <section class="create-column-section">
                    <h2 class="create-subtitles">Fill:</h2>
                    <form class="entries">
                        <label class="create-form-item" for="name">*Provider's name:</label>
                        <input class="create-form-item" name="name" id="name" type="text" placeholder="*required" required>
    
                        <label class="create-form-item" for="department">*Department:</label>
                        <select class="create-form-item" name="department" id="department">
                            <option>DSGO</option> 
                            <option>DITI</option>
                            <option>DSTI</option>
                        </select>
    
                        <label class="create-form-item" for="date-signed">*Date signed:</label>
                        <input class="create-form-item" name="date-signed" id="date-signed" placeholder="*required" type="text" onfocus="(this.type='date')" required>
    
                        <label class="create-form-item" for="duration">*Duration (In Months):</label>
                        <input class="create-form-item" name="duration" id="duration" placeholder="*required" type="number" required />
    
                        <label class="create-form-item" for="date-planning-starts">*Expected Date when Planning Starts:</label>
                        <input class="create-form-item" name="date-planning-starts" placeholder="*required" id="date-planning-starts" type="date" required>
    
                        <label class="create-form-item" for="dropdown-status">*Status:</label>
                        <select class="create-form-item" name="dropdown-status" id="dropdown-status" onchange="updateInputs()">
                            <option>not-started</option> 
                            <option>started</option>
                            <option>sent</option>
                            <option>concluded</option>
                        </select>
                        
                        <label class="create-form-item" for="date-offer-received">Date the offer was received:</label>
                        <input class="create-form-item" name="date-offer-received" id="date-offer-received" placeholder="" type="date" disabled="disabled">
    
                        <label class="create-form-item" for="date-prices-map">Date the prices map was concluded:</label>
                        <input class="create-form-item" name="date-prices-map" id="date-prices-map" placeholder="" type="date" disabled="disabled">
    
                        <label class="create-form-item" id="date-sent-label" for="date-sent">Date sent to analysis:</label>
                        <input class="create-form-item" name="date-sent" id="date-sent" type="date" placeholder="" disabled="disabled" required="required">
    
                        <label class="create-form-item" id="date-concluded-label" for="date-concluded">Date of conclusion:</label>
                        <input class="create-form-item" name="date-concluded" id="date-concluded" type="date" placeholder="" disabled="disabled" required="required">
    
                        <button class="orange-button" type="button" id="submit-data">Add</button>
                    </form> 
                </section>
                    
                <section class="create-column-section">
                    <h2 class="create-subtitles">Preview:</h2>
                    <ul id="preview"></ul>
                </section>

                <section class="create-column-section">
                    <h2 class="create-subtitles">Choose a file to modify:</h2>
                    <ul class="create-choose-list">
                    </ul>
                </section>
            </div>
            <footer>
                <hr>
                <p>Made with ❤️ | @2022 - joaovictorbarrera</p>
            </footer>
        </main>
    </body>
</html>